<!-- <div class="col-span-1 row-span-1">
    <div class="overflow-hidden w-full bg-red-200 rounded-md aspect-w-1 aspect-h-1 group-hover:opacity-75">
      <img src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg" alt="Front of men&#039;s Basic Tee in black." class="object-cover object-centerd">
      <div class="flex justify-between mt-4">
        <div>
          <h3 class="text-sm text-gray-700">

          </h3>
          <p class="mt-1 text-sm text-gray-500">Black</p>
        </div>
        <p class="text-sm font-medium text-gray-900">$35</p>
      </div>
    </div>
  </div> -->

<div
  class="container overflow-hidden relative col-span-1 row-span-1 w-full h-full bg-white rounded-lg border-2 border-gray-200 border-opacity-60 shadow-xl transition duration-300 ease-in hover:bg-violet hover:text-white hover:shadow"
  [routerLink]="['/dashboard/location/view', location._id]"
>
  <img
    class="w-full h-36"
    src="{{ location.urlImage }}"
    alt="{{ location.urlImage }}"
  />

  <div class="m-3 h-28">
    <h1 class="text-xl font-semibold">{{ location.title | titlecase}}</h1>

    <span
      class="inline-block absolute bottom-0 px-3 py-1 mr-2 mb-2 text-xs font-semibold bg-gray-200 rounded-full text-violet"
      >#{{ location.division.name }}</span
    >
  </div>
</div>

<!-- "https://picsum.photos/id/188/720/400" -->
