<div
*ngIf="(this.isRemoved === false)" class="container overflow-hidden relative col-span-1 row-span-1 p-4 w-full h-full bg-white rounded-lg border-2 border-gray-200 border-opacity-60 shadow-xl transition duration-300 ease-in hover:bg-violet hover:text-white hover:shadow"
>
  <div class="w-full h-24">
    <h1 class="mx-auto text-xl font-semibold">{{ division.name }}</h1>
  </div>
  <div class="flex justify-between mt-3 e m">
          
    <div class="spacer"></div>
      <button
      (click)="remove()"
      type="button"
      class="inline-flex justify-center px-4 py-2 text-sm font-medium text-red-800 bg-red-300 rounded-md border border-transparent border-red-700 shadow-sm border- hover:text-white hover:bg-red-600"
    >
      Remove
    </button>
</div>
  </div>