<div
  class="grid overflow-hidden relative place-content-between w-full h-full bg-white rounded-lg border-2 border-gray-200 border-opacity-60"
>
  <div cl>
    <img
      class="object-cover object-center overflow-hidden w-full"
      src="{{ location.urlImage }}"
      alt="{{ location.urlImage }}"
    />
    <div class="p-4">

        <h1 class="text-xl font-semibold">{{ location.title }}</h1>
        <div class="grid col">

          <h3>{{ location.number }}</h3>
          <h3>{{ location.schedule }}</h3>
          <p class="">{{ location.description }}</p>
        </div>
    </div>


  </div>
  
  <div class="m-4">
    <span
      class="inline-block px-3 py-1 text-sm font-semibold bg-gray-200 rounded-full text-violet"
      >#{{ location.division }}</span
    >
  </div>
</div>
